.tudo {
    background-color: rgb(0, 0, 0);
}

table {
    border: solid rgb(255, 255, 255) 2px;
    border-collapse: collapse;
    color: white;
    font-size: 20px;
    padding: 10px;
}

td, th {
    border: solid rgb(255, 255, 255) 2px;
    padding: 10px;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: pink;    
}

table tr:nth-child(odd) {
    background-color: purple;    
}
table tr:hover {
    background-color: rgb(0, 0, 0);    
}